<h1>Flights#index</h1>

<%= link_to "New flight", new_flight_path %>

<hr>

<%= render partial: "flights/partials/searchform" %>

<h1>Flights list</h1>
<% if @flights_filtered %>
  <% @flights_filtered.each do |flight| %>
    <p><%= flight.name %></p>
  <% end %>
<% else %>
  <p>No flight found!</p>
<% end %>
